.graphic-novel{
    background-image:linear-gradient(to right bottom, rgba($black, 0.2), rgba($black, 0.5)),
                     url('../images/1/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;   
    padding-top: 3rem;
    position: relative;
    .row{
        height: 100%;
    }
    h1,h2{
        display: inline-block;
    }
    .logo{
        display: block;
        width: 30rem;
    }
    .main-content{
        // position: absolute;
        // top: 30%; 
        &-img{
            max-width: 100rem;
            width: 90%;
        } 
        &-link{
            position: absolute;
            color: $red;
            top: 25%;
            
        }
    }
}