//Text Colors
$main-text: #555;
$gray: #7c7c7c;
$text-field-gray: #515051;
$original-logo: #636363;
$section-6-bg: #8c8b8c;
$black: #000;
$white: #fff;
$main-footer-bg: #DCDCDC;
$darkened-white: #f0f0f0;
$red: #fd0202;
$red_section_5: #fd0303;
$orange: #e67e22;
$green: #39b54a;
$blue: #625EFC;
$contract-blue: #7ed0fa;

//social-media
$linkedin: #007bb5;
$facebook: #3b5998;
$youtube: #ff0000;
$twitter: #0084b4;
$instagram: #C32AA3;
$google-plus: #DB4437;

//font-family
$old-font: 'Saira Condensed';
$lato: Lato, sans-serif;

//grid
$worlds-grid: (
  columns: 12,
  gutter: 20px,
);