<section class="graphic-novel">
    <div class="row">
        <img src="images/power.png" alt="" class="logo">
        <div class="main-content">
        <a href="#" class="main-content-link">
            <img class="main-content-img" src="images/GRAPHIC-NOVEL.PNG" alt="robot">
        </a>
        </div>
    </div>
</section>
<script>
    document.body.style.overflow = "hidden";
</script> 
