<section class="under-construction">
    <div class="row">
        <a href="/" class="home">        
        <img src="images/under-construction/bg-with-txt.PNG" alt="" class="bg">
        </a>
    </div>
</section> <!-- end p1b --> 
<script>
    document.body.style.overflow = "hidden";
</script>
