.profile-setup{
    background: $section-6-bg;
    height: auto;
    padding-top: 5rem;
    color: $black;
    .row{
        margin-top: 4.5rem;
    }
    .secondary-header{  
        position: relative;
        text-align: center;
        color: $white;
        position: relative;
        top: -4rem;
        left: -1%;
    }
    .logo{
        position: relative;
        min-width: 30rem;
        width: 70%;
        max-width: 60rem;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 6rem;
    }
    
    .form-group{
        position: relative;
        margin-bottom: 3.5rem;
    }
    .label{
        display: inline-block;
        width: 30%;
        font-weight: 700;
        text-transform: uppercase;
        &-textarea{
            font-weight: 700;
            position: relative;
            // top: -8rem;
            display: inline-block;
            width: 30%;
            text-transform: uppercase; 
        }
    }
    .input{
        background: $text-field-gray;
        font-size: 1.8rem;
        border: none;
        height: 2.5rem;
        width: 33rem;
        letter-spacing: 1.3px;
        padding-left: 1rem;
        color: $white;

        &[name="avatar"]{
            position: relative;
            margin-top: 2rem;
        }
    }
    .avatar-group{
        @include grid-container;
        @include grid-column(12);
        position: relative;
        left: 26%;
        & + .label{
            position: relative;
            bottom: 15rem; 
        }
        .power-icon{
            margin-right: 1.5rem;
        }
        .power-icon-1{
            width: 15rem;
            cursor: pointer;
        } 
        .power-icon-2{
            width: 10rem;
            cursor: pointer;
        }
        .power-icon-3{
            width: 5rem;
            cursor: pointer;
        }
        .px-size-184{
            position: absolute;
            bottom: -1.3rem;
            left: 5rem;
        }
        .px-size-64{
            position: absolute;
            bottom: -1.3rem;
            left: 18rem;
        }
        .px-size-32{
            position: absolute;
            bottom: -1.3rem;
            left: 26rem;
        }
    }
    .avatar-btn-container{
        position: relative;
        top: -2.3rem;
        left: 21.5rem;
        font-size: 1.2rem;
        .browse{
            color: $white;
            background-color: black;
            border: none;
            padding: 3px 10px;
            font-size: 1.2rem;
            border-radius: 20px;
            cursor: pointer;
        } 
        .upload{
            position: relative;
            color: $black;
            background-color: $orange;
            border: none;
            padding: 3px 10px;
            border-radius: 20px;
            font-size: 1.2rem;
            margin-left: 5rem;
            cursor: pointer;
        } 
        .btn-descr{
            margin-top: 1rem;
        }
        .white{
            color: $white;
        }
    }
    //second form
    .input-addition{
        padding-left: 30%; 
    }
    .btn-white-1{
        position: absolute;
        padding: 2px 5px;
        font-size: 1.3rem;
        font-weight: 700;
        background: $white;
        border-radius: 50px;
        left: 38%;
        top: 12%;
    }
    .btn-white-2{
        position: absolute;
        width: 6.9rem;  
        height: 2rem;
        background: $white;
        border-radius: 50px;
        left: 38%;
        top: 5%; 
    }
    .question{
        position: absolute;
        left: -28%;
        color: $white;
    }
    .age-warning{
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1.4rem;
    }

    //grid
    .col-1{
        @include grid-column(6);
        @include grid-shift(.5);
    }
    .col-2{
        @include grid-column(6);
        @include grid-shift(1.5);
    }
    .full-col{
        @include grid-column(10.5); 
        @include grid-shift(.5);
        top: 15rem;
    } 
}