.devo{
    padding: 2rem 1rem; 
    .row:first-of-type{
        max-width: 100%;
    }
    .main-img{
        position: relative;
        width: 80%; 
        left: 5rem;
    }
    .secondary-img{
        position: absolute;
        width: 5rem;
        top: 10%;
        left: 0;
    }
    .world-descr-container{
        padding-left: 2rem;
        .header{
            font-size: 6rem;
            margin-top: 5%;
            margin-bottom: 2rem;
        }
        .descr-1{
            letter-spacing: 1.5px;
            line-height: 3rem;
            margin-bottom: 2rem;
        }
        .descr-2{
            font-size: 1.5rem;
            letter-spacing: 1.1px;
        }
    }
    .section-banner-imgs{
        @include grid-container;
        @include grid-shift(3);
        margin-top: 3rem;
        .banner-card{
            @include grid-column(3);
        }
        .banner-img{
            width: 100%;
            height: 30rem;
        }
        .banner-descr{
            text-align: center;
        }
    }
    .col-1{
        @include grid-column(6);
    } 
}